<footer>
    <div id="wrapper">
        <div>
            <h4>Explore</h4>
            <a routerLink="/">Home</a><br>
            <a routerLink="/about">About</a><br>
            <a routerLink="/contact">Contact</a><br>
            <a routerLink="/careers">Careers</a><br>
        </div>
        <div>
            <h4>Follow</h4>
            <a href="https://www.facebook.com" target="_blank">Facebook</a><br>
            <a href="https://www.instagram.com" target="_blank">Instagram</a><br>
            <a href="https://www.twitter.com" target="_blank">Twitter</a><br>
        </div>
        <div>
            <h4>Term</h4>
            <a routerLink="/term">Terms</a><br>
            <a routerLink="/privacy">Privacy</a><br>
        </div>
    </div>
</footer>
